.container {
  background-color: #0b1725;
  color: #fff;
  padding-block: 10rem;
  height: 100vh;
  background:
    radial-gradient(800px 800px at 50% 50%, rgba(64, 122, 255, 0.35), transparent 70%),
    linear-gradient(180deg, #0b1725, #070b14);
  overflow: hidden;
}
.heroBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.14);
  color: rgba(255, 255, 255, 0.84);
  font-size: 13px;
  margin-bottom: 18px;
  margin: 0 auto;
  width: max-content;
  z-index: 999;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background: rgba(120, 170, 255, 0.95);
  box-shadow: 0 0 0 6px rgba(120, 170, 255, 0.16);
}

.heroTitle {
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 6rem;
  margin-top: 2rem;
}

.heroSubtitle {
  margin: 0 auto 26px;
  max-width: 660px;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 100;
  color: var(--muted);
  text-align: center;
  margin-top: 2rem;
}

.heroCta {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.heroCta a {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
  color: #0b1725;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heroCta a:last-child {
  background-color: transparent;
  border: 0.08rem solid #fff;
  color: #fff;
}

.heroImage {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}
