.footer {
  background-color: #0b1725;
  color: #fff;
}

.middleFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bottomFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10rem;
  padding-block: 2rem;
}
